<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Google">
    <classes>
      <class name="com.test.First_Test"/>
      <method>
      <include name = "login"/> 
      </method>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Google">
    <classes>
      <class name="com.test.First_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
